@model Nhom12_DoAnLapTrinhWeb_QuanLyThueTro.Models.Phong

@{
    Layout = null;    
}
<link href="~/Content/img/Details.css" rel="stylesheet" />
<div class="detail">
    <div>
    
        <div class="Content_Detaisl">
            <ul>
                <li><img src="~/Content/img/@Url.Content(Model.img)" /></li>
                <li><h3> @Html.DisplayFor(model => model.TieuDe)</h3></li>
                <li>Diện Tích: @Html.DisplayFor(model => model.DienTichPhong)</li>
                <li>Giá: @Html.DisplayFor(model => model.DonGia)/Tháng</li>
                <li>Địa Chỉ: @Html.DisplayFor(model => model.DiaChiTro)</li>
                <li>Mô Tả: @Html.DisplayFor(model => model.MoTa)</li>
                <li>Chủ Trọ: @Html.DisplayFor(model => model.TenChuTro)</li>
                <li>Liên Hệ: @Html.DisplayFor(model => model.SDT)</li>
            </ul>
        </div>
    </div>
    @*@Html.ActionLink("Đặt phòng", "Order_Pay", new { id = Model.ID })*@
    <form action="~/Home/Order">
        <input type="submit" value="Đặt phòng">
        <input type="hidden" id="id" name="id" value="@Model.ID" />

        <input type="hidden" id="tieude" name="tieude" value="@Model.TieuDe" />
        <input type="hidden" id="dientich" name="dientich" value="@Model.DienTichPhong" />
        <input type="hidden" id="gia" name="gia" value="@Model.DonGia" />
        <input type="hidden" id="sdt" name="sdt" value="@Model.SDT" />
        <input type="hidden" id="diachi" name="diachi" value="@Model.DiaChiTro" />
        <input type="hidden" id="chutro" name="chutro" value="@Model.TenChuTro" /> |
        @Html.ActionLink("Quay lại", "Index")
    </form>
</div>

